@import "tailwindcss";

@theme {
  /* Estas são as cores que o seu App.tsx está pedindo */
  --color-primary: #0f172a;
  --color-secondary: #6366f1;
  --color-border: #e2e8f0;
  --color-text-muted: #64748b;
}

@layer base {
  body {
    @apply bg-zinc-50 text-zinc-900;
  }
}